/*=============================================
  CSS Root Variables
  Used for consistent theming and easier updates
=============================================*/
/*! Start Variables */
:root {
  --main-blue-color: #0075ff;
  --alternative-blue-color: #0d69d5;
  --third-color: #403ca5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --color-grey: #888;
  --light-color-grey: #ccc;
  /* --secondary-color: #2c4755; */

  /*? Brands */
  /* Twitter */
  --twitter-color: #1da1f2;

  /* Facebook */
  --facebook-color: #1877f2;

  /* YouTube */
  --youtube-color: #ff0000;

  /* LinkedIn */
  --linkedin-color: #0a66c2;

  --main-paragraph-color: #858585;
  --main-border-color: #ececec;
  --section-main-background-color: white;
  --transparent-color: rgb(15 116 143 / 65%);

  --main-line-height: 1.8;
  --main-letter-spacing: -2px;
  --section-padding: 100px;
  --main-section-padding-top: 100px;
  --main-section-padding-bottom: 100px;

  --main-transition-duration: 0.3s;
  --alt-transition-duration: 0.7s;
}
/*! End Variables */

/*=============================================
  Global Reset and Base Styles
  Normalize styles across browsers and set defaults
=============================================*/
/*! Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* padding: 0; */
  /* margin: 0; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  /* cursor: pointer; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--alternative-blue-color);
}

*:focus {
  outline: none;
}

/*! End Global Rules */

/*! Start Components */
/*? Start   Component */

/*? End   Component */

/*? Start  Component */

/*? End  Component */

/*? Start  Component */

/*? End  Component */
/*! End Components */

/*---------------------------------------------
  Header Section Styling
  Contains logo, navigation, and hero section
----------------------------------------------*/
/*! Start Page */
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/*! End Page */

/*! Start Sidebar */
.page .sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}

.page .sidebar > h3 {
  margin-bottom: 40px;
  padding-bottom: 30px;
}

.page .sidebar > h3::before,
.page .sidebar > h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
}

.page .sidebar > h3::before {
  width: 70px;
  height: 3px;
  bottom: 15px;
}

.page .sidebar > h3::after {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid white;
  bottom: 5px;
}

.page .sidebar ul {
  margin: 10px;
}

.page .sidebar ul li a {
  margin-bottom: 10px;
  transition: var(--main-transition-duration);
}

.page .sidebar ul li > .active,
.page .sidebar ul li a:hover {
  background-color: #eee;
}

.page .sidebar ul li a span {
  margin-left: 10px;
  font-size: 16px;
}

/*---------------------------------------------
  Media Queries
  Responsive adjustments for different screens
----------------------------------------------*/
@media (max-width: 767px) {
  .page .sidebar {
    width: 56px;
    padding: 10px;
  }

  .page .sidebar > h3 {
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 14px;
  }

  .page .sidebar > h3::before,
  .page .sidebar > h3::after {
    display: none;
  }

  .page .sidebar ul {
    margin: 0;
  }

  .page .sidebar ul li a {
    margin-bottom: 5px;
  }
}
/*! End Sidebar */

/*! Start Content */
.page .content .header .search-area::before {
  content: "\F002";
  font-family: var(--fa-style-family-classic);
  font-weight: bold;
  color: var(--color-grey);
  position: absolute;
  top: 50%;
  left: 21px;
  transform: translateY(-50%);
}

.page .content .header input {
  margin-left: 10px;
  padding-left: 33px;
  width: 180px;
  transition: width var(--main-transition-duration);
  border: 1px solid var(--light-color-grey);
  border-radius: 12px;
}

.page .content .header input:focus {
  width: 220px;
}

/*---------------------------------------------
  Media Queries
  Responsive adjustments for different screens
----------------------------------------------*/
@media (max-width: 767px) {
  .page .content .header input:focus {
    width: 200px;
  }
}

.page .content .header input:focus::placeholder {
  opacity: 0;
}

.page .content .header .header-icons .notification-center {
  margin-right: 15px;
  font-size: 22px;
}

.page .content .header .header-icons .notification-center::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--red-color);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
}

.page .content .header .header-icons .profile-avatar {
  width: 40px;
}

.page .content h1 {
  margin-left: 20px;
}

.page .content h1::before,
.page .content h1::after {
  position: absolute;
  content: "";
  height: 5px;
  bottom: -13px;
}

.page .content h1::before {
  width: 60px;
  background-color: black;
  left: 3px;
}

.page .content h1::after {
  width: 105px;
  background-color: white;
  left: 62px;
}

.page .content .wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  /* margin-bottom: 20px; */
  padding-top: 20px;
}

/*---------------------------------------------
  Media Queries
  Responsive adjustments for different screens
----------------------------------------------*/
@media (max-width: 767px) {
  .page .content .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
/*! End Content */

/*! Start Welcome Widget */
.page .content .wrapper .welcome-content-box {
  overflow: hidden;
}

.page .content .wrapper .welcome-content-box p.user-handle {
  text-align: center;
}

.page .content .wrapper .welcome-content-box .greeting-image {
  width: 180px;
  margin-bottom: -15px;
}

.page .content .wrapper .welcome-content-box .profile-avatar {
  width: 68px;
  height: 68px;
  margin: -34px 0 0 40px;
  border: 5px solid white;
  border-radius: 50px;
  padding: 2px;
}

.page .content .wrapper .welcome-content-box .profile-info {
  /* margin: 60px 0 20px; */
  border-top: 1px solid var(--main-border-color);
  border-bottom: 1px solid var(--main-border-color);
}

.page .content .wrapper .welcome-content-box .profile-info > div {
  /* padding: 20px 40px; */
  flex: 1;
}

.page .content .wrapper .welcome-content-box .visit-profile {
  margin: 0 20px 20px auto;
  transition: var(--main-transition-duration);
}

.page .content .wrapper .welcome-content-box .visit-profile:hover {
  background-color: var(--alternative-blue-color);
}

/*---------------------------------------------
  Media Queries
  Responsive adjustments for different screens
----------------------------------------------*/
@media (max-width: 767px) {
  .page .content .wrapper .welcome-content-box .greeting-image {
    width: 120px;
  }

  .page .content .wrapper .welcome-content-box .profile-avatar {
    margin: -34px auto;
  }
  .page .content .wrapper .welcome-content-box .profile-info {
    margin-top: 30px;
  }
  .page .content .wrapper .welcome-content-box .profile-info > div {
    padding: 15px;
  }
}
/*! End Welcome Widget */

/*! Start Quick Draft */
.page .content .wrapper .quick-draft-content-box .save-entry {
  margin: 0 0 20px auto;
  cursor: pointer;
  transition: var(--main-transition-duration);
}

.page .content .wrapper .quick-draft-content-box .save-entry:hover {
  background-color: var(--alternative-blue-color);
}
/*! End Quick Draft */

/*! Start Yearly Targets */
.page .content .wrapper .yearly-targets-content-box .target-row .row-icon {
  width: 70px;
  height: 70px;
  /* background-color: #d2e5ff; */
  margin-right: 20px;
  font-size: 25px;
}

.page .content .wrapper .yearly-targets-content-box .target-row .row-details {
  flex: 1;
}

.page
  .content
  .wrapper
  .yearly-targets-content-box
  .target-row
  .row-details
  .progress-bar {
  /*! background-color: #d2e5ff;  ---> we used the direct class -money-row- instead. to reach out the progress bar and the icon at the same time */
  color: white;
  height: 6px;
}

.page
  .content
  .wrapper
  .yearly-targets-content-box
  .target-row
  .row-details
  .progress-bar
  > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
}

/*
! Other Way to achieve the same result for the color of the progress bar
.page
.content
.wrapper
.yearly-targets-content-box
.target-row
.row-details
.progress-bar
> span {
  height: 6px;
  display: block;
  font-size: 18px;
  font-weight: bold;
} */

.page
  .content
  .wrapper
  .yearly-targets-content-box
  .target-row
  .row-details
  .progress-bar
  > span
  span {
  position: absolute;
  right: -20px;
  top: -50px;
  border-radius: 12px;
  padding: 8px 12px;
}

.page
  .content
  .wrapper
  .yearly-targets-content-box
  .target-row
  .row-details
  .progress-bar
  > span
  span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 35px;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 10px;
}

.page
  .content
  .wrapper
  .yearly-targets-content-box
  .target-row
  .row-details
  .progress-bar
  > .money-row
  span::after {
  border-color: var(--main-blue-color) transparent transparent;
}

.page
  .content
  .wrapper
  .yearly-targets-content-box
  .target-row
  .row-details
  .progress-bar
  > .projects-row
  span::after {
  border-color: var(--orange-color) transparent transparent;
}

.page
  .content
  .wrapper
  .yearly-targets-content-box
  .target-row
  .row-details
  .progress-bar
  > .team-row
  span::after {
  border-color: var(--green-color) transparent transparent;
}

.page .content .wrapper .yearly-targets-content-box .money-row .row-icon,
.money-row .progress-bar {
  /* background-color: #d2e5ff; */
  background-color: rgb(0 117 255 / 0.2);
}

.page .content .wrapper .yearly-targets-content-box .projects-row .row-icon,
.projects-row .progress-bar {
  /* background-color: #fdecd5; */
  background-color: rgb(245 158 11 / 0.2);
}

.page .content .wrapper .yearly-targets-content-box .team-row .row-icon,
.team-row .progress-bar {
  /* background-color: #d8f4e1; */
  background-color: rgb(34 197 94 / 0.2);
}
/*! End Yearly Targets */

/*! Start Tickets Statistics */
.page
  .content
  .wrapper
  .tickets-statistics-content-box
  .statistics
  .tickets-statistics-box {
  width: calc(50% - 10px);
  border: 2px solid var(--light-color-grey);
}

@media (max-width: 767px) {
  .page
    .content
    .wrapper
    .tickets-statistics-content-box
    .statistics
    .tickets-statistics-box {
    width: 100%;
  }
}
/*! End Tickets Statistics */

/*! Start Latest News */
.page
  .content
  .wrapper
  .latest-news-content-box
  .latest-news-row:not(:last-of-type) {
  padding: 20px 0 20px;
  border-bottom: 1px solid var(--main-border-color);
}

/*---------------------------------------------
  Media Queries
  Responsive adjustments for different screens
----------------------------------------------*/
@media (max-width: 767px) {
  .page .content .wrapper .latest-news-content-box {
    margin-bottom: 20px;
  }
  .page .content .wrapper .latest-news-content-box .latest-news-row .image {
    width: 150px;
    margin-bottom: 20px;
  }
  .page .content .wrapper .latest-news-content-box .latest-news-row .news-info {
    margin-bottom: 15px;
  }
}
/*! End Latest News */

/*! Start Latest Tasks */
.page .content .wrapper .latest-tasks-content-box .latest-task-row {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.page
  .content
  .wrapper
  .latest-tasks-content-box
  .latest-task-row:not(:last-of-type) {
  border-bottom: 1px solid var(--main-border-color);
}

.page .content .wrapper .latest-tasks-content-box .remove-task {
  cursor: pointer;
  transition: var(--main-transition-duration);
}

.page .content .wrapper .latest-tasks-content-box .remove-task:hover {
  color: var(--red-color);
}

.page .content .wrapper .latest-tasks-content-box .complete-task {
  opacity: 0.3;
}

.page .content .wrapper .latest-tasks-content-box .complete-task h3,
.page .content .wrapper .latest-tasks-content-box .complete-task p {
  text-decoration: line-through;
}
/*! End Latest Tasks */

/*! Start Latest Upload */
.page
  .content
  .wrapper
  .latest-uploads-content-box
  .uploaded-files-list
  .uploaded-file-row:not(:last-of-type) {
  border-bottom: 1px solid var(--main-border-color);
  /* padding-bottom: 10px; */
}
/*! End Latest Upload */

/*! Start Last Project Progress Widget */
.page
  .content
  .wrapper
  .last-project-progress-content-box
  .project-progress::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 5px;
  height: 100%;
  background-color: var(--main-blue-color);
}

.page
  .content
  .wrapper
  .last-project-progress-content-box
  .project-progress
  .project-progress-row::before {
  content: "";
  display: block;
  z-index: 1;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid white;
  outline: 3px solid var(--main-blue-color);
}

.page
  .content
  .wrapper
  .last-project-progress-content-box
  .project-progress
  .project-progress-row.project-phase-done::before {
  content: "";
  background-color: var(--main-blue-color);
}

.page
  .content
  .wrapper
  .last-project-progress-content-box
  .project-progress
  .project-progress-row.project-current-phase::before {
  content: "";

  /*? If we want to hide the outline for the circle:  
  width: 36px;
  height: 36px;
  border-style: none;
  ************************************************/

  animation: switch-background-color var(--alt-transition-duration) infinite
    alternate;
}

.page
  .content
  .wrapper
  .last-project-progress-content-box
  .launch-project-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.08;
}
/*! End Last Project Progress Widget */

/*! Start Reminders Widget */
.page
  .content
  .wrapper
  .reminders-content-box
  .reminder-list
  .reminder
  .info-blue-reminder {
  border-left: 3px solid var(--main-blue-color);
}

.page
  .content
  .wrapper
  .reminders-content-box
  .reminder-list
  .reminder
  .circle-blue-check,
.circle-green-check,
.circle-orange-check,
.circle-red-check {
  width: 20px;
  height: 20px;
}

.page
  .content
  .wrapper
  .reminders-content-box
  .reminder-list
  .reminder
  .info-green-reminder {
  border-left: 3px solid var(--green-color);
}

/* .page
  .content
  .wrapper
  .reminders-content-box
  .reminder-list
  .reminder
  .circle-green-check {
  width: 20px;
  height: 20px;
} */

.page
  .content
  .wrapper
  .reminders-content-box
  .reminder-list
  .reminder
  .info-orange-reminder {
  border-left: 3px solid var(--orange-color);
}

/* .page
  .content
  .wrapper
  .reminders-content-box
  .reminder-list
  .reminder
  .circle-orange-check {
  width: 20px;
  height: 20px;
} */

.page
  .content
  .wrapper
  .reminders-content-box
  .reminder-list
  .reminder
  .info-red-reminder {
  border-left: 3px solid var(--red-color);
}

/* .page
  .content
  .wrapper
  .reminders-content-box
  .reminder-list
  .reminder
  .circle-red-check {
  width: 20px;
  height: 20px;
} */
/*! End Reminders Widget */

/*! Start Social Media  */
.page .content .wrapper .social-media-stats-content-box .social-account-row {
  padding-left: 70px;
}

.page .content .wrapper .social-media-stats-content-box .social-account-row i {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  transition: var(--main-transition-duration);
}

.page
  .content
  .wrapper
  .social-media-stats-content-box
  .social-account-row
  i:hover {
  transform: rotate(5deg);
}

.page .content .wrapper .social-media-stats-content-box .twitter-account {
  background-color: rgb(29 161 242 / 30%);
  color: var(--twitter-color);
}

.page .content .wrapper .social-media-stats-content-box .facebook-account {
  background-color: rgb(24 119 242 / 30%);
  color: var(--facebook-color);
}

.page .content .wrapper .social-media-stats-content-box .youtube-account {
  background-color: rgb(255 0 0 / 30%);
  color: var(--youtube-color);
}

.page .content .wrapper .social-media-stats-content-box .linkedin-account {
  background-color: rgb(10 102 194 / 30%);
  color: var(--linkedin-color);
}

.page
  .content
  .wrapper
  .social-media-stats-content-box
  .social-account-row
  a:hover {
  cursor: pointer;
}
/*! End Social Media  */

/*! Start Animation */
@keyframes switch-background-color {
  from {
    background-color: var(--main-blue-color);
  }
  to {
    background-color: white;
  }
}
/*! End Animation */
